<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Thanh Tam</title>
    <script type="text/javascript" charset="utf-8">
    </script>
</head>
<body>
<h1><%=title%></h1>
<% data.forEach(function(each){ %>
<div class="outSide" >
    <div class="modelName" ><%=each.username%></div>
    <div class="modelName" ><%=each.password%></div>
</div>
<% }); %>
</body>
</html>